header {
  border: solid white 20px;
  background-color: #444;
  margin: 20px;
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

h1 {
  text-align: center;
  font-size: 80px;
  color: white;
}

header img {
  width: 150 px;
  height: 60px;
  margin-left: 80%;
}

body {
  background-color: rgb(114, 172, 223);
}

legend {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 15px;
  margin-left: 15px;
  text-decoration: underline;
  font-weight: 700;
}

label {
  margin-left: 20px;
  font-weight: 700;
}

button {
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 20px;
  transition: all 0.2s;
  background-color: rgb(48, 46, 46);
  color: white;
}

table {
  margin-top: 20px;
  margin-bottom: 40px;
}

li {
  padding: 20px;
  color: white;
  font-size: larger;
}

 ul a {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 25px;
}

td, th {
  padding: 5px;
  border: solid 5px white;
}

main image {
  width: 300px;
  height: 200px;
  margin-left: 500px;
  
}

footer {
  background-color: rgb(34, 34, 34);
  height: 400px;
  margin-top: 800px;  
} 

footer section {
  display: inline-block;
}

footer h3 {
  padding: 30px;
  color: white;
  font-size: 25px;
  text-decoration: underline;
}



